@use "./components/_index";

$colors: (
    "primary": #451952,
    "secondary": #662549,
    "tetriary": #AE445A,
    "quaternary": #F39F5A 
);

body{
    background-color: map-get($map: $colors, $key: primary);
    color: map-get($map: $colors, $key: quaternary);
}